# **Module 2: Python Fundamental**
## **Notebook 2**: Basic Python
## **Prepared by**: Hum Nath Bhandari, Department of Mathematics, RWU


##**Learning Outcomes**

In this notebook, we intrtroduce basic data structures and operations in Python. Topics includes:

- Printing in Python

- Python as a Calculator

- Creating variables in python

- Reserved Keywords for Python

- Basic python data structures: numbers, boolean, strings, list, tuple, dictionary

- Writing user defined functins in python

- Random numbers generators

- Conditional statements

- Loop operations in python

- Formattig in Python

- Reading and Writing Files in Python

## **Printing in Python**

In [ ]:
print('Lets learn Python Basics!')
#print("\n") # printing blank line
#print("Python is incredible!!")

## **Python as a Calculator**

In [ ]:
#Addition and Subtraction

7 + 9

In [ ]:
6+ 7*8

In [ ]:
(50 - 5*6) / 4

In [ ]:
22 / 7  #classic division returns a float

In [ ]:
22//7  # floor division discards the fractional part

In [ ]:
 3**2  # squared

In [ ]:
10%2 # reminder operation

In [ ]:
13%3

### **Order of Operations**
 
 
Python follows **PEMDAS(P = parenthesis, E = exponent, M = multiplication, D= Division, A= Addition, S= Subtraction)** convention of Mathematics.

In [ ]:
2*(3-1)

In [ ]:
(1+1)**(5-2)

In [ ]:
2**1+1 #is not 4

In [ ]:
3*1**3 # is not 27

In [ ]:
6+4/2 # is not 5

## **Variables Names**

Python variable names can be arbitrary long. They may contain both letters and numbers but they have to begin with a letter. Underscore character ( _ ) can be used. We cannot use special characters such as @,$, &, etc while defining variables.

In [ ]:
#Illegal variables
12my_variable, more@

In [ ]:
#Legal variables
var = 12
second_var_123 = 89

In [ ]:
width = 40  
length = 5
Area = width * length
Area

## **Reserved Keywords for Python**

There are few words which are reserved for Python language. Therefore, users should aviod using these researve words. 

**Reserved worlds: and, del, from, not, while, as, elif, global, or, with, assert, else, if, pass, yield, break, except, import, print, class, exec, raise, continue, finally, is, return, def, for, lambda,  try, in**, etc

In [ ]:
and

## **Basic Python Variable Types**

There are several variable types in Python. Here is a list of the most common types:


- **int**:  integer
- **float**: floating point numbers (decimal numbers)
- **complex**: complex numbers
- **bool**: Boolean types (True, False)
- **str**: String

In [ ]:
#integer

type(13)

In [ ]:
#float (decimal numbers) 
type(10.5)

In [ ]:
#complex number
type(5j)

In [ ]:
complex(2,3)

In [ ]:
z = 2-3j

In [ ]:
z.real

In [ ]:
z.imag

In [ ]:
#Boolean
a = True
type(a)

In [ ]:
9#help(str)

### **String**
Besides numbers, Python can also manipulate strings, which can be expressed in several ways. They can be enclosed in single quotes ('  ') or double quotes (" ") with the same result.

In [ ]:
course_name = 'Data Science'

In [ ]:
semester = 'Fall 2020'

In [ ]:
myclass = course_name + ' ' + semester

In [ ]:
myclass

In [ ]:
type(myclass)

In [ ]:
myclass[0] # to access first character of the string

In [ ]:
myclass[:]

In [ ]:
myclass[:-1]

In [ ]:
myclass[-1]

In [ ]:
myclass + myclass

In [ ]:
myclass*3

In [ ]:
"Speed Limit "+ 65

In [ ]:
"Speed Limit "+ str(65)

## **Additional Core Python Data Types**
- **list**:  Ordered Array
- **tuple**: Ordered Immutable Array
- **dict**: Unordered list of keys and values

### **List**

The Python lists are positionally ordered collection of aribitrarily typed objects with no fixed size. They are also mutable, meaning lists can be modified. They provide a very flexible tool for representing aribitrary collections such as lists of files, emplyees in a company, emails in your inbox, and so on.

In [ ]:
a = [] # one way to create empty list
type(a)

In [ ]:
a = list()  # another way to create empty list
type(a)

In [ ]:
x = [1, 'RWU', 2, 'Bristol', True]
type(x)
x

#### **Basic List Operations**

In [ ]:
x = [1,2,3]
len(x)  # length

In [ ]:
x + [5,6,7] # concatenation

In [ ]:
y = [2, 'Math', 5, "Data Science"]

x+y

In [ ]:
["SPAM"]*5 # Repetition

####  **List Indexing and Slicing**

In [ ]:
x = [1, 'RWU', 2, 'Bristol']
x[3]

In [ ]:
x[1:]

In [ ]:
x[:-1]

#### **Some Built-in functions on List Object**

- extend()

- append()

- sort()

- reverse()

- del()
- count()
- copy()
- clear()
- remove()
- insert(i, X)

In [ ]:
x = [1, 'RWU', 2, 'Bristol']
x.extend([23,78]) # it changes original variable too
x

In [ ]:
a = []

a.append(30) # it changes original variable too
a

In [ ]:
a.append("grade")
a

In [ ]:
a.append(80)
a

In [ ]:
a[0] = 70
a

In [ ]:

L = [123, 'spam', 1.23]

In [ ]:
del(L[0]) # it changes original variable too

L

In [ ]:

M = [ 'bb', 'aa', 'cc']
M.sort() # it changes  original variable too
M

In [ ]:
M.reverse() #it changes original variable too
M

In [ ]:
N = M.copy()
N

In [ ]:
N.clear()
N

In [ ]:
M.remove('cc')
M

In [ ]:
M.insert(0,"cc")
M

#### **List Iterations and Comprehensions**

In [ ]:
1 in  [1,2,3] # checking for list membership

In [ ]:
0 in [1,5,9]

In [ ]:
for x in [1,2,3]: # basic loop operation
    print(x)

In [ ]:
squares = [x*2 for x in [1,2,4]] # list comprehensions

In [ ]:
squares

#### **Nested Lists and Slicing**

In [ ]:
matrix = [[1,2,3], [4,5,6],[7,8,9]]
matrix

In [ ]:
matrix[1]

In [ ]:
matrix[-1]

In [ ]:
matrix[0][0]

In [ ]:
matrix[2][0]

In [ ]:
matrix[2][0] = 10
matrix

### **Tuple**

Tuples are immutable lists. Pretty much anything you can do to a list that does not involve modifying it, you can do to a tuple. You specify a tuple by using parentheses (or nothing) instead of square brackets.

In [ ]:
my_list = [1,2,3]
my_tuple = (1,2,3)
other_tuple = 2,7

my_tuple[0]

In [ ]:
other_tuple[0]

In [ ]:
my_tuple[0] = 30 # not possible

In [ ]:
my_tuple + (3,4,7,6) #concatenation of tuple

Tuples are a convenient way to return multiple values from functions.

In [ ]:
def sum_and_product(x,y):
    return (x+y), x*y
s,p = sum_and_product(3,8)
s,p

Tuples can also be used for multiple assigment:

In [ ]:
x,y = 1,2
x,y = y,x # easy way to swap variables in python!

In [ ]:
T = () # an empty tuple
type(T)

In [ ]:
T = (0, "Ni", 1.2, 3)
T

In [ ]:
T*3

In [ ]:
T[0]

In [ ]:
T[2] + T[3]

In [ ]:
for i in T: 
  print(i)

In [ ]:
[x*2 for x in T]

### **Dictionary**

Dictionaries are unordered and changeable collections of Python objects. In Python, dictionaries are written with curly brackets, and they have **keys** and **values**.

In [ ]:
my_dict = {"name":"John", "grade": 90, "subject": "Mathmatical  Software"}
my_dict

In [ ]:
type(my_dict)

In [ ]:
my_dict["name"]

In [ ]:
my_dict.items()

In [ ]:
my_dict.keys()

In [ ]:
my_dict.values()

In [ ]:
D = {} # one way to create an empty dictionary
type(D)

In [ ]:
D = dict() # another way to create an empty dictionary
type(D)

In [ ]:
D['name'] = "Josh"
D['job'] = "Data engineer"
D['age'] = 20
D

In [ ]:
for k in D.keys(): 
    print(k)

In [ ]:
for k,v in D.items():
    print(k,v)

#### **Creatig Disctionay from List using Zip function**

In [ ]:
dict(zip(['a', 'b', 'c'], [1,2,3])) # zip together keys and values

In [ ]:
D = {k:v for (k,v) in zip(['a','b', 'c'], [1,2,3])}
D

## **Writing User Defined Functions in Python**
Creating new functions in Python is easy. We use function to maximize code reuse and minimize redundancy.

In [ ]:
def find_sum(x = 20,y = 10): # function definition
    return x+y

find_sum(40,200) # function calls

In [ ]:
def fahrenheit(T):
    return (9/5)*T + 32

def celsius(T):
    return (5/9)*(T-32)

In [ ]:
celsius(32)

In [ ]:
fahrenheit(0)

#### **Lambda function**

In [ ]:
add = lambda x, y : x + y

In [ ]:
add(4,8)

In [ ]:
fahrenheit =  lambda x: (9/5)*x + 32
celsius = lambda x:  (5/9)*(x-32)

In [ ]:
fahrenheit(45)

## **Built in Math Library**

In [ ]:
import math


#### **Basic Math Functions in Python**
- fabs(x)
- ceil(x)
- floor(x)
- exp(x)
- log(x)# natural logarithm
- log10(x)
- max(x1, x2,...)
- pow(x, y)
- round(x [,n]) # round to n digits from the decimal points
- sqrt(x)
- sin(x)
- cos(x)
- tan(x)

In [ ]:
abs(-4.8)

In [ ]:
math.fabs(-4.8)

In [ ]:
math.ceil(-4.6)

In [ ]:
math.log(8) # natural log

In [ ]:
math.pow(2,3)

In [ ]:
round(3.413894, 3)

In [ ]:
math.sqrt(9)

In [ ]:
math.sin(math.pi/2)

In [ ]:
math.tan(math.pi/4)

## **Generating Random Numbers in Python**

In [ ]:
import random
a = random.random( ) # creates random number between 0 and 1
a

In [ ]:
b = random.uniform(1, 7) # creates a random number between 1 and 7 from uniform distribution
b

In [ ]:
c = random.randint(1, 10) # creates a random integer between 1 and 10
c

In [ ]:
items = [1, 2, 3, 4, 5, 6, 7,8,9]
random.shuffle(items) # random reshuffling
items

In [ ]:
random.sample([1, 2, 3, 4, 5,6,7,8],  4) # random sampling from given list

## **Conditional Statements**

### **if else statement**

In [ ]:
x = 10;
if x > 0:
    print("x is positive")

In [ ]:
grade = 50;
if grade >= 60:
    print("You passed this class")
else:
    print("Sorry you are failed! Please repeate this course in the next semester!")

### **Chained Conditional Statements**

In [ ]:
x = 2; y = 8
if x < y:
    print("x is less than y")
elif(x > y):
    print("x is greater than y")
else:
    print("x and y are equal")

In [ ]:
grade = 66

if grade >= 90:
    print("A")
elif grade >= 80:
    print("B")
elif grade >= 70:
    print("C")
elif grade >=60: 
    print("D")
else:
    print("Sorry you are failled in this class")

### **Nested Conditional Statements**

In [ ]:
if x == y:
    print("x and y are equal")
else:
    if x< y:
        print ("x is less than y")
    else:
        print("x is greater than y")

## **Loop Operations in Python**

### **for loop**

In [ ]:
for i in [1,2,3,4,5,6]:
    print(i)

### **range function**
range(stop)

range(start, stop, step)

In [ ]:
for counter in range(6):
    print(counter)

In [ ]:
for counter in range(1,6):
    print(counter)

In [ ]:
for counter in range(1,6,2):
    print(counter)

In [ ]:

[x**2 for x in range(0, 8, 2)]

###  **While Loop**

In [ ]:
counter = 0
while counter < 6:
    print(counter)
    counter += 1

## **Formating in Python**

In [ ]:
print("pi =%d" % (3.14159))
#print("pi =%.2f" % (3.14159))
#print("pi =%.4f" % (3.14159))
#print("pi =%s" % (3.14159))
#print('{:}, {:.2f}, {:s}'.format(26, 3.141593, "python"))

### **Formating Date Time**

In [ ]:
import datetime
d = datetime.datetime(2010, 7, 4, 12, 15, 58)
'{:%Y-%m-%d %H:%M:%S}'.format(d)

## **File I/O**

 ### **Raw Input in Python**

In [ ]:
name = input("Tell me your name: ")
print("Hello " + name + "!")
age = input("How old are you? ")
print("You are " + age + " years old, " + name + "!")

In [ ]:
a = input("Enter your grade: ")

In [ ]:
a + 45 # input will be taken as characters

In [ ]:
float(a) + 45

### **Reading/Writing Files in Python**

We will discuss about this topics in upcomming Notebooks. See the following liks for references:

- [Files I/O](https://www.tutorialspoint.com/python/python_files_io.htm)
- [Reading and Writing in Python](https://www.geeksforgeeks.org/reading-writing-text-files-python/)


## **References**


There are several resourses available to study python, including the following online turorials.

- [Python Documentation](https://docs.python.org/3/tutorial/)
- [Tutorialpoint](https://www.tutorialspoint.com/python/python_overview.htm)